*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
}
.logo span {
  color: #4d5ae5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.0717;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1112;
  color: #2e2f42;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
a {
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover,
a:focus,
.header-nav-link.current {
  color: #404bbf;
}
a:active {
  color: #404bbf;
  text-decoration: underline;
}
footer a {
  color: #f4f4fd;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}
main {
  flex-grow: 1;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
section {
  padding-bottom: 120px;
  padding-top: 120px;
}
header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  margin-left: 76px;
  margin-right: 76px;
}
.header-nav-list {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-nav-link {
  padding: 24px 0;
  display: inline-block;
  position: relative;
}
.header-nav-link::after {
  content: "";
  width: 100%;
  height: 4px;
  display: inline-block;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link:hover::after, 
.header-nav-link.current::after,
.header-nav-link:focus::after {
  opacity: 1;
}
.header-address {
  flex-shrink: 0;
  margin-left: auto;
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.header-address-list a {
  padding: 24px 0;
  display: inline-block;
  color: #434455;
  font-style: normal;
}
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-container {
  color: #f4f4fd;
}
.hero-title {
  max-width: 496px;
  text-align: center;
  margin: auto;
  margin-bottom: 48px;
}
.hero-button {
  background-color: #4d5ae5;
  color: #f4f4fd;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: auto;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.0397em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.values-list {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 0;
}
.values-rectangle {
  width: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  height: 112px;
}
.values-icons {
  width: 64px;
  height: 64px;
  margin: 23px 0;
}
.values-subtitle {
  align-self: flex-start;
  margin-bottom: 8px;
}
.values-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  width: calc((100% - 72px) / 4);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  margin-bottom: 72px;
  text-align: center;
}
.team-list {
  display: flex;
  gap: 24px;
  align-items: stretch;
  padding-left: 0;
}
.team-img {
  width: 100%;
  display: block;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-card-text {
  padding: 32px 16px;
  box-sizing: border-box;
  text-align: center;
}
.team-card-text p {
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  gap: 24px;
}
.team-social-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon a:hover, .team-social-icon a:focus {
  background-color: #404bbf;
}
.team-social-icon-svg {
  fill: #f4f4fd;
}
.team-subtitle {
  margin-bottom: 8px;
}
.portfolio-title {
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px 24px;
  align-items: center;
  padding-left: 0;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item-tumb {
  position: relative;
  overflow: hidden;
}
.portfolio-item-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px 0 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-item-overlay {
  transform: translateY(0);
  opacity: 1;
}
.portfolio-img {
  width: 100%;
  display: block;
}
.portfolio-subtitle {
  margin-bottom: 8px;
}
.portfolio-card-text {
  padding: 32px 16px 32px 16px;
  text-align: left;
  gap: 8px;
  width: 100%;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
  color: #f4f4fd;
}
.footer-content {
  
  display: flex;
  gap: 120px;
  flex-direction: row;
  align-items: baseline 
}
.foot-logo-text {
  max-width: 264px;

}
.footer-content .logo {
  color: #f4f4fd;
  flex-shrink: 0;
  width: 115px;
  height: 24px;
}
.footer-text {
  margin-top: 16px;

}
.footer-social {
  max-width: 208px;
}
.footer-social-subtitle {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}
.footer-social-list{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.footer-social p {
  margin-bottom: 16px;
}
.footer-social-icon a{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon a:hover, .footer-social-icon a:focus {
  background-color: #31d0aa;
}
.footer-social-icon-svg {
  fill: #f4f4fd;
}
